.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
local.properties
*.keystore
*.jks
.secrets
*.apk
*.aab
*.log
.DS_Store
*.apk
*.apk.idsig
*.idsig
.kotlin/
terminal/src/main/assets/rootfs/ubuntu-24.04-arm64-with-server.tar.gz
